.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#login_form {
  top: 0%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 0%);
  position: absolute;
  background:rgba(255, 255, 255, 0.99); /*remove it after*/
  border: 4px solid #BBBDBF;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  width: 100%;
  height: auto;
}

@media (min-width: 362px) {
  .container {
    width: 350px;
  }
  #login_form {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  #login_form {
    top: 56%;  /* position the top  edge of the element at the middle of the parent */
    left: 57%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  #login_form {
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 81.6%; /* position the left edge of the element at the middle of the parent */
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  #login_form {
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 80%; /* position the left edge of the element at the middle of the parent */
  }
}

.padding_md {
  padding: 30px;
}

.margin_md {
  margin: 30px;
}

.child_inputdata_table td {
  height: 52px;
}

#child_input_form input, #child_input_form select {
  padding-top: 18px;
  padding-left: 6px;
  font-weight: 700;
  color: #58595B;
  font-size: 150%;
  position: absolute;
  width: 100%;
}

#child_input_form label {
  font-size: 88%;
  color: #58595B;
  letter-spacing: 0.03em;
  top: 4px;
  left: 6px;
  position: absolute;
}

#child_input_form input[type='checkbox'] {
  /*increase size of checkbox box*/
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin-left: 3px;
}